@import "tailwindcss";

/* :root {
  --bg-primary: #0f0f0f;
  --bg-secondary: #1e1e1e;
  --bg-card: #181818; //no given in guideline
  --accent-lime: #d7ff3f;
  --text-primary: #ffffff;
  --text-secondary: #b8b8b8; //for supporting text
  --border-color: rgba(255, 255, 255, 0.08); //no given in guideline
  --font-headline: "Bebas Neue", sans-serif;
  --font-body: "Inter", sans-serif;
  --transition-speed: 0.3s; //no given in guideline
} */

:root {
  --background: #0f0f0f;
  --foreground: #ffffff;
  --accent-lime: #d7ff3f;
  --btn-text-size: 13px;
  --text-tracking: 0.28em;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-bebas-neue: var(--font-bebas-neue);
  --text-btn: var(--btn-text-size);
  --tracking-widest-lg: var(--text-tracking);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: -webkit-fill-available;
  min-height: 100vh;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

input {
  height: 46px;
}

input,
textarea {
  background-color: #b8b8b850;
  border-width: 1px;
  border-color: transparent;
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  padding: 13px 12px;
  font-size: 12px;
}

input::placeholder,
textarea::placeholder {
  color: #b8b8b890;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  font-size: 20px;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border: 1px solid #b8b8b890;
}

.hero-eyebrow-line {
  display: inline-block;
  width: 40px;
  height: 1px;
  background: var(--accent-lime);
}

.service-img-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(15, 15, 15, 0.9) 20%,
    transparent 100%
  );
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(15, 15, 15, 0.85) 0%,
    rgba(15, 15, 15, 0.4) 50%,
    rgba(15, 15, 15, 0.7) 100%
  );
  z-index: 1;
}

.hero-overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: linear-gradient(to top, var(--color-bg) 0%, transparent 100%);
  z-index: 2;
}
